N8N Agent /PredectionAgent.json
{
  "name": "PredectionAgent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "71834025-7086-4d69-8af1-1ac8d89b05e6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "networksecuritycsvuploading",
        "options": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        192,
        -16
      ],
      "id": "5a98e2b4-d0bf-4c1e-9fe7-9f29b172bf84",
      "name": "Get many files",
      "credentials": {
        "aws": {
          "id": "rn9tID5osekdw7LP",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "3b5786bb-13d4-4bdc-8a69-51d980f9b472",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "bucketName": "networksecuritycsvuploading",
        "fileKey": "={{$json[\"Key\"]}}"
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1136,
        96
      ],
      "id": "bac5d518-2611-47bc-9d71-3d35c730e858",
      "name": "Download a file",
      "credentials": {
        "aws": {
          "id": "rn9tID5osekdw7LP",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/predict?response_type=csv",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        240
      ],
      "id": "ea7c009b-0f3f-4f91-9304-52aa7ddd0553",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1680,
        304
      ],
      "id": "7af8952b-b3e9-45a7-9bfe-e295ea6966b5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $('HTTP Request').item.json.Key.replace(/\\.csv$/i, '') }}\n"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        336
      ],
      "id": "c69215f2-1863-42c3-a81b-88128e266597",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/json_file_upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        272
      ],
      "id": "e549d1aa-04e5-48fa-860f-9c60f4c85e91",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "=networksecuritycsvuploading",
        "fileKey": "={{$json[\"Key\"]}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        304,
        208
      ],
      "id": "910d63e4-e763-4c87-8185-82a5e64fc7a6",
      "name": "Delete a file",
      "credentials": {
        "aws": {
          "id": "rn9tID5osekdw7LP",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a93f6e5-c690-4c30-b8cc-f28db191802b",
              "name": "Key",
              "value": "={{ $('Loop Over Items').item.json.Key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ],
      "id": "3f5491e7-c566-499c-8915-7d87ad38d324",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a206cdb3-e65a-4b1a-8d93-deec07f2463c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3064e08e53355486546462e88f67356750b8a72f431bfffa055ac9a97005196"
  },
  "id": "uApbUZ6hrkDzW0bb",
  "tags": []
}